$clr-primary-red: 0 78% 62%;
$clr-primary-cyan: 180 62% 55%;
$clr-primary-orange: 34 97% 64%;
$clr-primary-blue: 212 86% 64%;
$clr-neutral-800: 232 12% 34%;
$clr-neutral-700: 229 6% 64%;
$clr-neutral-600: 0 0% 98%;

$fs-small: .75rem;
$fs-normal: 1rem;
$fs-medium: 1.25rem;
$fs-large: 2.25rem;

$spacing-xs: .5rem;
$spacing-small: .75rem;
$spacing-medium: 1.875rem;
$spacing-large: 2rem;
$spacing-xl: 4rem;

$mobile: 0;
$tablet: 720px;
$desktop: 1440px;